* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    width: 1440px;
    height: 2047px;
}

header {
    width: 1440px;
    height: 70px;
    padding-top: 23px;
    background: #2965f1;
}

span {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-top: 23px;
    color: #fff;
} 

.main-section {
    width: 1440px;
    height: 1024px;
    background: #fafaff;
}

.main-title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #303030;
    margin-top: 60px;
    margin-bottom: 20px;
}

.main-text {
    font-family: "Inter", sans-serif;
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 18px;
    color: #303030;
}

.main-image {
    width: 715px;
    height: 508px;
}


.about-section {
    width: 1440px;
    height: 883px;
    margin-top: 100px;
    margin-bottom: 100px;
    background: #fafaff
    
}

select {
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 150px;
    height: 36px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #303030;

    appearance: none;
    background-image: url(images/ep_arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 8% top 50%;
}

.section-title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #303030;
    margin-bottom: 25px;
}

.frameworks-list {
    width: 280px;
    height: 57px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #303030;
    list-style-type: none;
    list-style-image: url(images/Vector1.svg);
    
    padding-left: 20px;
    
}

.books-list {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #303030;
    padding-left: 20px;
}

.label {
    font-weight: 400;
    font-size: 16px;
    color: #303030;
    font-family: "Inter", sans-serif;
}

.text-field {
    font-family: "Inter", sans-serif;
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 330px;
    height: 36px;
    background: rgba(255, 255, 255, 0);
    font-weight: 400;
    font-size: 16px;
    }

.btn {
    appearance: none;
    border-radius: 5px;
    width: 125px;
    height: 36px;
    font-family: "Inter", sans-serif;
    background: #2965f1;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}

.line {
    margin-bottom: 60px;
    margin-top: 60px;
}

table {
    width: 300px;
    height: 196px;
}

th, td {
    font-family: "Inter", sans-serif;
    margin-top: 10px;
    margin-bottom: 11px;
}

footer {
    width: 1440px;
    height: 70px;
    background: rgba(163, 167, 255, 0.3);
    padding-top: 26px;
    padding-bottom: 25px;
}

.footer-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: #2965f1;
    font-family: "Inter", sans-serif;
}